.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 3px 0; */
}

.image {
    /* background-image: url('../assets/beeLogo.png'); */
    height: 65px;
    width: auto;
    /* width: 35px; */
    /* z-index: 2; */
}

.image-xs {
    height: 25px;
    width: auto;
}