.nav {
    width: 100vw;
    min-height: fit-content;
    /* height: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    background-color: rgba(3, 3, 3, 0.487);
    position: fixed;
    z-index: 1;
    /* padding: 0 px; */
}

.cart-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
}

.cart-container {
    font-size:x-small
}

.social-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-content: center; */
}

.hex {
    display: block;
    margin: 0 3px;
    position: relative;
    /* width: 320px; */
    width: 50%;
    height: 277.12px; /* width * 0.866 */
    height: 50%;
    /* background: red; */
    outline: solid white 12px;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    text-align: center;
  }

.side-padding {
    padding: 0 3vw;
}

@media all and (max-width: 950px) {
    .links-container {
        font-size: .9em;
    }
}