.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* justify-items: center; */
  height: 100vh;
  width: 100vw;

  background-color: rgb(246, 246, 246);
  color: white;
  background-image: url('./assets/road-background.jpeg');
  background-position: center;
  background-size: cover;
  /* text-align: center; */
}

.centered-test {
  /* display: flexbox; */
  /* background-image: url('./assets/road-background.jpeg'); */
  /* height: 100vh;
  width: 100vw; */
  /* background-position: center; */
}

a:link {
  color: white;
  text-decoration: none;
}

.links:visited {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
